
<main class="main">
    <div class="task-form">
        <form method="POST">
            <input class="input" type="text" name="task" placeholder="I need to...">
            <button class="task-form__button button" type="submit">Create</button>
        </form>

        <% if(locals.errors) {%>
        <div class="alert alert--error">
            Invalid task!
        </div>
        <%} else if(locals.successMessage) {%>
        <div class="alert alert--success">
            Task was added!
        </div>
        <%}%>
    </div>

    <h2> Todo List </h2>
    <% if(!tasks.length){ %>
        <h3 class="no-tasks">There are no tasks.</h3>
    <% } %>
    <ul class="list">
        <% tasks.forEach(function (item) {%>
            <li class="list__item"> 
                <div class="checkbox">
                </div> 
                <span class="list__item-text" taskid=<%= item._id %>>
                    <%= item.title %>
                </span> 
                <span class="list__item-desc">
                    <%= item.description %>
                </span> 
            </li>
        <%})%>
        
    </ul>
</main>
<%- include("./partials/scripts") %>
