<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Difficult TODO Application | <%= pageTitle %></title>
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
<header class="header">
    <h1 class="header__title">Difficult TODO Application</h1>

<%- include('./partials/links.ejs') %>
</header>
    <%- include(`../pages/${template}`) %>
</body>
</html>
